body {
	margin :0;
	padding:0;
}

#Holder {
	width: 980px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px;
	margin-bottom:21px;
}
#Header {
	height:70px;
	background-image: url(../Images/favicon.ico);
	margin-bottom: 11px;
	background-repeat:no-repeat;
}

#NavBar {
	height: 60px;
	background-color: #000;
}
#Content {
	height:auto;
	clear:both;
	overflow:auto;
	
}
#PageHeading {
	height: auto;
	padding:11px;
}
}
#ContentLeft {
	width:280px;
	float:left;
	padding-top:11px;
	padding-left:11px;
}
#ContentRight {
	width:680px;
	float: right;
}
#RegisterForm {
	width=680px;
	float:right;
}
#Footer {
	height:100px;
}

h1{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-weight: lighter;

}

h2 {
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	color: #999;
}
h4 {
	margin:0;
	text-decoration:none;
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	color:none;
	
}

h5 {
	margin: 0;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

h6 {
	margin:0;
	padding-bottom: 5px;

	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:16px;
	color:#999;
}
	
.StyleTxtField {
	border: 1px solid #666;
	border-radius:6px;
	width: 200px;
	height: 35px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:6px;
}


